<div class="dialog" id="dialogUpdateReservation">

    <h3>Imposta Data e Orario</h3>

    <form action="">
        <div class="field">
            <label for="startDate">Data di inizio</label>
            <input type="date" id="startDate" name="startDate" class="startDate" required>
            <span class="error" id="startDateError"></span>
        </div>
        <div class="field">
            <label for="endDate">Data di Fine</label>
            <input type="date" id="endDate" name="endDate" class="endDate" required>
            <span class="error" id="endDateError"></span>
        </div>
        <div class="field">
            <label for="startTime">Orario di inizio</label>
            <input type="time" id="startTime" name="startTime" class="startTime" required>
        </div>
        <div class="field">
            <label for="endTime">Orario di Fine</label>
            <input type="time" id="endTime" name="endTime" class="endTime" required>
        </div>
        <!-- buttons for confirm or cancel the updates on the reservation datas -->
        <div class="actions">
            <button type="button" class="cancel" id="cancelButton">Annulla</button>
            <button type="submit" class="submit">Salva</button>
        </div>
    </form>

</div>