<!-- template of the dialog containing all the information of the card reservation, and the possibility of do some actions
 like response to the question through GMAIL, change the state of it... -->
<div class="dialogReservation">
    <h1>PRENOTAZIONE</h1>
    <p class="status">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore enim, amet delectus eos odit,
        iusto
        consequuntur quos ducimus commodi dolor esse exercitationem sequi distinctio eveniet voluptas! Veniam suscipit
        voluptatum tempora!
    </p>
</div>