<div id="dialog" class="dialogChangePassword">
    <h3>Modifica la tua password:</h3>

    <form action="">
        <div class="field">
            <label for="oldPassword">Inserisci la tua vecchia password</label>
            <input type="password" id="oldPassword" name="oldPassword" class="oldPassword" required>
        </div>
        <div class="field">
            <label for="newPassword">Inserisci nuova password</label>
            <input type="password" id="newPassword" name="newPassword" class="newPassword" required>
        </div>
        <div class="field">
            <label for="repeatNewPassword">Re-inserisci la nuova password</label>
            <input type="password" id="repeatNewPassword" name="repeatNewPassword" class="repeatNewPassword" required>
        </div>
        <div>
            <button type="submit">Conferma password<ion-icon name="checkmark-done-outline"></ion-icon></button>
        </div>
    </form>

</div>