<!-- template of the dialog containing all the information of the card question, and the possibility of do some actions
 like response to the question through GMAIL -->
<div class="dialogQuestion">
    <div class="dialogHeader">
        <h2 class="dialogName"></h2>
        <p class="dialogEmail"></p>
    </div>
    <div>
        <p class="dialogDate"></p>
    </div>

    <!-- body text of the request question, will be scrollable! -->
    <div class="dialogBody">
        <h2>Corpo della richiesta:</h2>
        <p class="dialogRequest"></p>
    </div>
    <hr>

    <div class="dialogFooter">
        <ion-icon name="archive"></ion-icon>
        <ion-icon name="trash"></ion-icon>
        <div class="responseSection">
            <a href="mailto:test@gmail.com">Rispondi ↩</a>
        </div>
    </div>
</div>