/* 
 * Footer Styles
 * 
 * This file contains styles for the footer section, ensuring responsiveness across mobile, tablet, and desktop views.
 * It includes layout adjustments for contact information, social media links, and company details.
 * 
 * The footer is designed to adapt to various screen sizes, providing a clean, structured appearance with appropriate spacing and color contrast.
 * 
 * @author: Alessio Burbulia
 */

/** Z-INDEX 100
 ** 110: Menu
 ** 105: Background overlay
 ** 100: Hamburger icon
*/

/* General Styles for Menu */
nav {
  position: fixed; /* Keeps the navbar fixed at the top */
  width: 100%; /* Full width */
  height: 60px;
  top: 0; /* Aligns it to the top of the page */
  left: 0; /* Aligns it to the left of the page */
  z-index: 110; /* Aumenta il valore di z-index per garantire che la navbar sia sopra gli altri elementi */
}

.menuToggle {
  width: 100%; /* Ensures the menu toggle spans the entire width */
}

b {
  font-weight: 600; /* Applies medium font weight to bold text */
}

.menuToggle a {
  transition: 0.3s text-decoration ease-in; /* Smooth transition */

  font-size: 1rem;
}

/* Hover effect for desktop */
.menuToggle a:hover {
  text-decoration: underline; /* Underline effect when hovering over the link */
}

/* For Smartphone: Mobile View */
@media (max-width: 992px) {

  /* Menu styles for mobile view */
  .menu {
    position: fixed; /* Fixed positioning to stick to the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 80%; /* Adjust height for mobile */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    background-color: var(--primary-color); /* Background color */
    list-style-type: none; /* Remove default list styling */
    -webkit-font-smoothing: antialiased; /* Smooth font rendering */
    transform-origin: 0% 0%; /* Set transform origin */
    transform: translateY(-100%); /* Initially hide the menu */
    padding-top: 65px; /* Add top padding */
    transition: transform 0.5s ease-in-out; /* Smooth transition when showing the menu */
  }
  
  /* Navigation links styling */
  .menuToggle ul.nav-list {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center; /* Center the items */
    width: 100%;
  }
  
  /* List item styling for navigation links */
  .menuToggle ul.nav-list li {
    width: 100%;
  }
  
  /* Link styling in the menu */
  .menuToggle a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none; /* Remove underline */
    color: var(--secondary-color); /* Set link color */
    padding: 10px 0; /* Vertical padding */
    text-align: center; /* Center text */
    transition: color 0.3s ease; /* Smooth color transition */
    cursor: pointer; /* Change cursor on hover */
  }
  
  /* Increase font size for mobile links */
  .menuToggle ul.nav-list a {
    font-size: 1.5rem;
  }

  .menuToggle ul.nav-list li:last-child {
    position: relative;
    top: 160px;
  }

  .menuToggle ul.nav-list li:last-child a{
    font-size: 1rem;
  }
  
  /* Hamburger input styling for mobile */
  .menuToggle input {
    display: block;
    width: 90px; /* Set width of input */
    height: 80px; /* Set height */
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0; /* Hide the input */
    z-index: 115; 
  }

  .menuToggle .hamburger-background {
    display: block;
  }

  .menuToggle .hamburger-background {
    position: fixed;
    top: 12px;
    right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    background-color: #f5f5f54b;
    z-index: 105; 
  }

  /* Hamburger icon styling */
  .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: fixed;
    right: 25px;
    background: var(--secondary-color);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    z-index: 114;
  }
  
  /* Position of the first hamburger span */
  .menuToggle span:nth-of-type(1) {
    top: 30px;
  }
  
  /* Position of the second hamburger span */
  .menuToggle span:nth-of-type(2) {
    top: 40px;
  }
  
  /* Position of the third hamburger span */
  .menuToggle span:nth-of-type(3) {
    top: 50px;
  }
  
  /* Transform hamburger icon when menu is toggled */
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-6px, -15px); /* Rotate the icon */
  }
  
  /* Hide the first hamburger span when menu is toggled */
  .menuToggle input:checked ~ span:nth-last-of-type(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* Rotate the second hamburger span when menu is toggled */
  .menuToggle input:checked ~ span:nth-last-of-type(3) {
    transform: rotate(-45deg) translate(-12px, 18px);
  }
  
  /* Show the menu when the checkbox is checked */
  .menuToggle input:checked ~ div.menu {
    transform: none;
  }

  /* Class to disable scrolling when menu is active */
  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay styling when menu is active */
  #sub-background {
    opacity: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.222);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 105; 
  }

  /* Show background when menu is active */
  #sub-background.show {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .menuToggle figure{
    display: none;
  }
}

/* For Desktop: Large View */
@media (min-width: 992px) and (max-width: 1400px) {
  .menuToggle input, .menuToggle span {
    display: none; /* Hide the input and hamburger icon */
  }

  .menu figure{
    display: block;
    position: relative;
    margin: 0px;
    width: 300px;
    left: -30px;
    height: 100%;
    padding: 5px;
    margin-left: 30px
  }

  .menu figure img{
    height: 100%;
    width:auto;
  }
  
  /* Menu layout for desktop */
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px; /* Set height for desktop */
    background-color: var(--primary-color);
  }
  
  /* Navigation and social lists styling for desktop */
  ul.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 40px;
    width: 50%;
    height: 100%;
  }

  ul.nav-list li:first-child{
    display: none;
  }

  ul.nav-list li:last-child{
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: var(--primary-color);
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }

  ul.nav-list li:last-child a{
    position: relative;
    left: 30px;
    bottom: 2px;
    width: fit-content;
  }

  ul.nav-list li{
    width: 100%;
    height: 100%;
  }
  
  /* Navigation list font size for desktop */
  ul.nav-list {
    font-size: 1rem;
  }
  
  /* Social list font size for desktop */
  ul.social-list {
    font-size: 0.7rem;
  }
  
  /* Menu link styling */
  .menuToggle a {
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--secondary-color); /* Set link color */
    transition: 0.3s all; /* Smooth transition */
    padding: 0px 25px;
  }
}

@media (min-width: 1400px) {
  .menuToggle input, .menuToggle span {
    display: none; /* Hide the input and hamburger icon */
  }

  .menu figure{
    display: block;
    margin: 0px;
    width: 370px;
    height: 100%;
    padding: 5px;
    margin-left: 30px;
  }

  .menu figure img{
    height: 100%;
    width:auto;
  }
  
  /* Menu layout for desktop */
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px; /* Set height for desktop */
    background-color: var(--primary-color);
    padding: 0px 40px;
  }
  
  /* Navigation and social lists styling for desktop */
  ul.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 60px;
  }

  ul.nav-list li:first-child{
    display: none;
  }

  ul.nav-list li{
    height: 100%;
  }
  
  /* Navigation list font size for desktop */
  ul.nav-list {
    font-size: 1rem;
  }
  
  /* Menu link styling */
  .menuToggle a {
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--secondary-color); /* Set link color */
    font-size: 1rem;
  }
}