<footer class="mobile-footer">
    <div>
  
      <figure class="img-container">
        <img 
        src="/public/images/logo/horizontal-version-white.webp" 
        alt="Logo di Cascina Caccia - Educazione, Laboratori ed Eventi" 
        loading="lazy" 
        width="300" 
        height="150" />
        <figcaption class="display-none">Logo ufficiale di Cascina Caccia</figcaption>
      </figure>
      
      <div class="contacts">
        <p>
          <a href="./src/pages/forms-page/index.html" title="Vai alla sezione contattaci">Contattaci</a>
        </p>
        <p>
          Via Serra Alta, 6, San Sebastiano da Po (TO)
        </p>
        <p>
          <a href="mailto:cascina.caccia[at]acmos.net">
            acmos.net
          </a>
          | <a href="mailto:cascina.caccia[at]acmos.net">
            libera.it
          </a>
        </p>
      </div>
      
      <div class="social-container">
        <p>
          seguici anche su
        </p>
        <ul class="social-links">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer" title="Vai alla pagina Facebook di Cascina Caccia">
              <figure class="img-container">
                <img src="./public/images/social-photo/facebook-white.png" alt="">
              </figure>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer" title="Vai alla pagina Facebook di Cascina Caccia">
              <figure class="img-container">
                <img src="./public/images/social-photo/instagram-white.png" alt="">
              </figure>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer" title="Vai alla pagina Facebook di Cascina Caccia">
              <figure class="img-container">
                <img src="./public/images/social-photo/tiktok-white.png" alt="">
              </figure>
            </a>
          </li>      
        </ul>
      </div>
      
      <div class="footer-info">
        <p>&copy; 2025 Cascina Caccia. Tutti i diritti riservati.</p>
        <p>
          Cookie Policy
        </p>
      </div>
    </div>
  </footer>