/* center the container which contains the form for the LOGIN of admin */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 100vh;
}


/* container which contain the title and the form fields */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 85%;
    min-height: 600px;
    background: linear-gradient(to bottom, var(--cascina-secondary), var(--background-third));
    box-shadow: 5px 10px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}


/* logo admin placeholder || photo of the admin, positioned on the top of the container whit position: absolute */
.adminLogo {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background-color: var(--background-primary);
    border: 1px solid black;
    border-radius: 100px;
}

h1 {
    color: var(--white-text);
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: bold;
}


/* form flex which contain the fields label + input && the submit button */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 350px;
}

/* container which contains the label and the input */
.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    min-height: 130px;
}

.field label {
    font-size: 0.85rem;
    font-weight: lighter;
}

input {
    background-color: var(--background-primary);
    border: 0px;
    font-size: 0.7rem;
    padding: 12px 10px;
    border-radius: 5px;
}

button {
    background-color: var(--background-primary);
    font-family: var(--font-title);
    font-size: 1.1rem;
    padding: 5px 100px;
    border: 0px;
    border-radius: 5px;
}