/* main {} */

main h1 {
    font-family: var(--font-title);
    font-size: 1.85em;
    text-align: center;
    margin-top: 30px;
}


/* section containing the latest requests of questions / reservations */
main section#requests {
    background-color: yellow;
    min-height: 500px;
}

main section#requests h2 {
    font-family: var(--font-text);
    text-align: center;
    text-decoration: underline;
    padding-top: 60px;
}