<!-- this container will be filled whit clones of the toast template -->
<div class="toastContainer">
    <!--** they will be hidden from the DOM, used as template -->

    <!-- toast template SUCCESS FETCH -->
    <div class="toast toastSuccess hidden">
        <div class="info">
            <h3>Successo!<ion-icon name="checkmark-circle"></ion-icon></h3>
            <p></p>
        </div>
    </div>

    <!-- toast template ERROR FETCH -->
    <div class="toast toastError hidden">
        <div class="info">
            <h3>Errore!<ion-icon name="close-circle"></ion-icon></h3>
            <p></p>
        </div>
    </div>

</div>