<template id="cardQuestionTemplate">
    <div class="cardQuestion">
        <div class="cardHeader">
            <div>
                <h2 class="name"></h2>
                <p class="email"></p>
            </div>
            <p class="dateSend"></p>
        </div>
        <p class="cardBody"></p>
        <div class="cardActions actions">
            <ion-icon name="archive" class="archive"></ion-icon>
            <ion-icon name="trash" class="trash"></ion-icon>
        </div>
    </div>
</template>