<template id="cardReservationTemplate">
    <div class="cardReservation">
        <div class="cardHeader">
            <div>
                <h2 class="name"></h2>
                <p class="email"></p>
            </div>
            <p class="dateSend"></p>
        </div>
        <div class="cardFooter">
            <div class="state">
                <ion-icon name="ellipse"></ion-icon>
                <p class="stateDescription"></p>
            </div>
            <div class="cardActions actions">
                <ion-icon name="archive" class="archive"></ion-icon>
                <ion-icon name="trash" class="trash"></ion-icon>
            </div>
        </div>
    </div>
</template>