<!-- template not visbile, layout of the card RESERVATIONS, will be cloned and filled through TS whit properties -->
<template id="cardReservation">
    <div class="card">

        <div class="cardHeader">
            <div>
                <h2 class="cardName">nome e cognome</h2>
                <p class="cardEmail">your@email.com</p>
            </div>
            <p class="cardDate">10/12/2024</p>
        </div>

        <div class="cardFooter">
            <div class="cardState">
                <span class="state"></span>
                <p class="stateDescription"></p>
            </div>
            <div class="cardActions">
                <ion-icon name="home"></ion-icon>
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </div>
</template>