/*
* name: style.css
* author: Burbulia Alessio
* 
* description: Root File contains the base style of the project
*/

/* Importing external fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Root variables for base styling */
:root {
  /* Color variables for the logo */
  --orange-color-logo: #E69731; /* Primary orange color for the logo */
  --magenta-color-logo: #D2277C; /* Secondary magenta color */
  --yellow-color-logo: #FDE039; /* Tertiary yellow color */

  --color-input: #e0e0e0; /* Color for input fields */
  --color-input-focus: #d2d2d2; /* Color for input fields when focused */
  --color-input-text: #868686; /* Text color for inputs */

  --orange-color-logo-light: #F3B161; /* Lightened orange for vibrant accents */
  --magenta-color-logo-light: #E54C96; /* Lightened magenta for bright highlights */
  --yellow-color-logo-light: #FFE763; /* Lightened yellow for luminous highlights */
  
  /* Text and background colors */
  --secondary-color: #0F0F0F;   /* Default text color */
  --primary-color: #f5f5f5; /* Default background color */
  
  /* Font variables */
  --font-family-title: 'Arial', sans-serif; /* Font family for titles */
  --font-family-content: 'Montserrat', sans-serif; /* Font family for content */
  --font-weight-normal: 400; /* Normal font weight */
  --font-weight-bold: 700; /* Bold font weight */
}

/* Global styles for all elements */
*, *::before, *::after {
  box-sizing: inherit; /* Ensures box-sizing is applied to all elements */
}

* {
  box-sizing: border-box; /* Ensures padding and borders are included in element's total width and height */
}

/* Body styles */
body {
  font-family: var(--font-family-content); /* Setting the font family for the body */
  font-size: 18px; /* Default font size */
  background-color: var(--primary-color); /* Background color for the page */
  color: var(--secondary-color); /* Text color for the body */
  line-height: 1.6; /* Line height for better readability */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

/* Ensure smooth scrolling for the entire page */
html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

/* Make the page take up the full height */
html, body {
  height: 100%; /* Full height for the page */
  margin: 0; /* Remove default margin */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-input-text); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners for the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background-color: var(--color-input); /* Background color of the scrollbar track */
  border-radius: 10px; /* Round corners for the scrollbar track */
}

/* Text styles for headers */
h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title); /* Title font family */
  font-weight: var(--font-weight-bold); /* Bold font weight for headers */
}

/* Style for the first level header */
h1 {
  -webkit-user-select: none; /* Disable text selection */
  user-select: none; /* Disable text selection */
}

/* Class to hide elements */
.display-none {
  display: none;
}

/* Image container for flexible image alignment */
.img-container {
  display: flex; /* For flexible alignment */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  overflow: hidden; /* Hides content that exceeds the container's boundaries */
  height: auto; /* Container height */
}

/* Style for images inside the container */
.img-container img {  
  width: 100%; /* The image fills the container width */
  height: auto; /* Maintains the aspect ratio */  
}

/* Black overlay with blur effect */
.black-blur{
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.61); /* Semi-transparent black background */
  backdrop-filter: blur(2px); /* Blur effect for the background */
  -webkit-backdrop-filter: blur(2px); /* For Safari support */
  
  display: flex; /* Flexbox for centering content */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  color: var(--color-secondary); /* Text color */
}

/* Main container style */
main {
  width: 100%; /* Full width for the main content */
  margin: 0 auto; /* Centers the main content */
}

/* Smooth scrolling behavior */
* {
  scroll-behavior: smooth;
}

/* Text-only article section styling */
section.text-only-article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

/* Paragraph and header styling within the text-only article section */
section.text-only-article-section p,
section.text-only-article-section header {
  width: 90%;
  margin: 0 auto;
}

/* Header styling for text-only article section */
section.text-only-article-section article header h2 {
  font-size: 2.5rem;
  width: fit-content;
}