
/** --- HEADING SESSION --- */
@media (max-width: 992px) {
    header.hero {
      /* Impostazioni generali per l'immagine di sfondo */
      background-image: url('/public/images/home-images/header/cascina-caccia-756px.webp');
      background-size: cover; /* Adatta l'immagine senza tagliarla */
      background-position: center; /* Posiziona la parte superiore dell'immagine */
      background-attachment: scroll; /* Evita problemi di scorrimento */
      height: 40vh;
      margin-top: 0px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1400px) {
    header.hero {
      /* Impostazioni generali per l'immagine di sfondo */
      background-image: urlurl('/public/images/home-images/header/cascina-caccia-922px.webp');
      background-size: cover; /* Adatta l'immagine senza tagliarla */
      background-position: center; /* Posiziona la parte superiore dell'immagine */
      background-attachment: scroll; /* Evita problemi di scorrimento */
      height: 30vh;
      margin-top: 70px;
    }
  }
  
  @media (min-width: 1400px) {
    header.hero {
      /* Impostazioni generali per l'immagine di sfondo */
      background-image: url('/public/images/home-images/header/cascina-caccia-1400px.webp');
      background-size: cover; /* Adatta l'immagine senza tagliarla */
      background-position: center; /* Posiziona la parte superiore dell'immagine */
      background-attachment: scroll; /* Evita problemi di scorrimento */
      height:30vh;
      margin-top: 120px;
    }
  }

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}

/* Animazione del logo */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(2); /* Effetto opzionale di leggero zoom */
    }
    to {
      opacity: 1;
      transform: scale(1); /* Ritorna alla dimensione normale */
    }
  }
  
  header.hero {
    /* header a schermo intero */
    width: 100%;
    animation: fadeIn 1.5s ease-in-out forwards; /* Durata e tipo di animazione */
  }
  header.hero .img-container img {
    opacity: 0; /* Stato iniziale */
    animation: fadeIn 1.5s ease-in-out forwards; /* Durata e tipo di animazione */
  }
  
  header.hero .img-container {
    width: 80%;
    max-width: 610px;
  }
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .introduction-section{
    width: 80%;
    margin: 30px auto;
    max-width: 800px;
  }

  .introduction-section h2{
    padding-bottom: 20px;
  }

  .introduction-section .button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 40px;
  }

  .introduction-section article p{
    margin-bottom: 50px;
  }

  .introduction-section .button-container a{
    font-family: "Montserrat";
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    background-color: var(--yellow-color-logo);
    border-radius: 13px;
  }

  .objectives, .method{
    margin: 30px auto;
  }

  .objectives h2{
    color: var(--orange-color-logo);
  }

  .method h2{
    color: var(--magenta-color-logo);
  }

  .method article p{
    margin-bottom: 30px;
  }

  .days-structure{
    width: 80%;
    margin: 30px auto;
    max-width: 800px;
  }

  .days-structure .button-container{
    margin-bottom: 40px;
    padding: 30px 0px;
  }

  .days-structure a{
    padding: 20px 10px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--color-input-text);
    border-radius: 14px;
  }

  .days-structure .introduction{
    margin-bottom: 30px;
  }

  .days-structure .introduction h2{
    font-size: 2.5rem;
  }

  .days-structure .introduction p{
    margin-bottom: 20px;
  }

  .opening-yellow-card{
    background-color: var(--yellow-color-logo);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: fit-content;
  }

  .opening-yellow-card .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }

  .opening-yellow-card .header div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .opening-yellow-card .content{
    padding: 20px;
  }

  .opening-yellow-card .content p{
    margin-bottom: 20px;
  }

  .opening-yellow-card .content ul{
    padding: 20px;
    margin-bottom: 20px;
  }

  .opening-yellow-card .content li{
    margin-bottom: 10px;
    list-style:disc;
  }

  .opening-yellow-card .content span{
    font-weight: 600;
  }

  .opening-yellow-card .content {
    max-height: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
  }
  
  .opening-yellow-card .content.expanded {
    max-height: 500px;
  }

  .opening-yellow-card .content.expanded{
    padding: 20px;
  }

  .opening-yellow-card .content.expanded p{
    margin-bottom: 20px;
  }

  .opening-yellow-card .content.expanded ul{
    padding: 20px;
    margin-bottom: 20px;
  }

  .grey-section{
    background-color: #414141;
    color: var(--primary-color);
    width: 100%;
  }

  .grey-section article{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
  }

  .grey-section article h2{
    font-size: 2.5rem;
    color: var(--yellow-color-logo);
  }

  .grey-section article h3{
    font-family: "Montserrat";
    font-size: 1.3rem;  
    font-weight: normal;
  }

  .grey-section article p{
    margin-bottom: 20px;
  }

  .grey-section article ul{
    list-style: disc;
    padding: 20px;
  }


  
  strong{
    font-weight: bold;
  }