
  @media (min-width: 992px) {
    header.hero {
      background-image: url('/images/pages-images/laboratories-images/header-images/immagine-di-ragazza-992p.webp');
      background-size: cover; 
      background-position: center; 
      background-attachment: scroll; 
      height: 30vh;
      margin-top: 70px;
    }
  }
  
  @media (min-width: 1400px) {
    header.hero {
      
      background-image: url('/images/pages-images/laboratories-images/header-images/immagine-di-ragazza-1400p.webp');
      background-size: cover;
      background-position: center;
      background-attachment: scroll;
      height:30vh;
      margin-top: 120px;
    }
  }

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}
  
  header.hero {
    /* header a schermo intero */
    width: 100%;
}
  
  header.hero .img-container {
    width: 80%;
    max-width: 610px;
}
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .introduction-section{
    width: 80%;
    margin: 30px auto;
    max-width: 800px;
}

  .introduction-section h2{
    padding-bottom: 20px;
  }

  .introduction-section .button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 40px;
}

  .introduction-section article p{
    margin-bottom: 50px;
  }

  .introduction-section .button-container a{
    font-family: "Montserrat";
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    background-color: var(--yellow-color-logo);
    color: var(--secondary-color);
    border-radius: 13px;
  }

  .objectives, .method, .faq{
    margin: 30px auto;
  }

  .objectives h2{
    color: var(--orange-color-logo);
  }

  .method h2{
    color: var(--magenta-color-logo);
  }

  .method article p{
    margin-bottom: 30px;
  }

  .days-structure{
    width: 80%;
    margin: 30px auto;
    max-width: 800px;
  }

  .days-structure .button-container{
    margin-bottom: 40px;
    padding: 30px 0px;
  }

  .days-structure a{
    padding: 20px 10px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--color-input-text);
    border-radius: 14px;
  }

  .days-structure .introduction{
    margin-bottom: 30px;
  }

  .days-structure .introduction h2{
    font-size: 2.5rem;
  }

  .days-structure .introduction p{
    margin-bottom: 20px;
  }

  .opening-yellow-card{
    background-color: var(--yellow-color-logo);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: fit-content;
  }

  .opening-yellow-card .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }

  .opening-yellow-card .header div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .opening-yellow-card .content{
    padding: 20px;
  }

  .opening-yellow-card .content p{
    margin-bottom: 20px;
  }

  .opening-yellow-card .content ul{
    padding: 20px;
    margin-bottom: 20px;
  }

  .opening-yellow-card .content li{
    margin-bottom: 10px;
    list-style:disc;
  }

  .opening-yellow-card .content span{
    font-weight: 600;
  }

  .opening-yellow-card .content {
    max-height: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
  }
  
  .opening-yellow-card .content.expanded {
    max-height: 500px;
  }

  .opening-yellow-card .content.expanded{
    padding: 20px;
  }

  .opening-yellow-card .content.expanded p{
    margin-bottom: 20px;
  }

  .opening-yellow-card .content.expanded ul{
    padding: 20px;
    margin-bottom: 20px;
  }

  .grey-section{
    background-color: #414141;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 50px;
  }

  .grey-section article{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
  }

  .grey-section article h2{
    font-size: 2.5rem;
    color: var(--yellow-color-logo);
  }

  .grey-section article h3{
    font-family: "Montserrat";
    font-size: 1.3rem;  
    font-weight: normal;
  }

  .grey-section article p{
    margin-bottom: 20px;
  }

  .grey-section article ul{
    list-style: disc;
    padding: 20px;
  }
  
  strong{
    font-weight: bold;
  }

  * {
    font-family: var(--font-family-content); 
}

h1, h2, h3, p, span, div, a {
    font-family: var(--font-family-content); 
}

.additional-info-section {
  width: 100%;
  font-size: 1.2rem;
}

.additional-info-section article {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.additional-info-section p {
  margin-bottom: 20px;
}

.additional-info-section h2 {
  font-size: 2.5rem;
}

.additional-info-section .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  margin: 30px 0;
  padding: 20px;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory; 
  width: 100%;
  height: fit-content;
}

.additional-info-section .card-container::-webkit-scrollbar {
  height: 8px; 
}

.additional-info-section .card-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.additional-info-section .card {
  flex: 0 0 290px;
  width: 90%;
  max-width: 400px;
  height: 360px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
}

.additional-info-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.additional-info-section .card h3 {
  font-weight: 400;
  font-size: 1.8rem;
  padding: 10px;
}

.additional-info-section .card h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  margin-top: 5px;
}

.additional-info-section .card p {
  padding: 10px;
  font-size: 1rem;
}

.additional-info-section .card figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.additional-info-section .card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
