
/** --- HEADING SESSION --- */
header.hero{
  /* image background settings */
  background-image: url('../../../public/images/backgrounds/background-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /* header full screen */
  width: 100%;
  height: 100vh;
  
  .img-container{
    width: 80%;
    max-width: 610px;
  }
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

article{
  margin: 20px;
  width: 100%;  
  h2{
    margin: 0 auto;
    width: 800px;
  }
  p{
    margin: 0 auto;
    width: 800px;
  }
}

h2{
  font-size: 1.5rem;
  padding: 0px 20px;
}

strong{
  font-weight: bold;
}

p{
  padding: 15px;
}

section.dark-style{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

section.light-style{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Mobile Footer Styling */
.mobile-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  color: var(--primary-color);
}

/* Logo */
.mobile-footer .img-container {
  margin-bottom: 15px;
}

.mobile-footer img {
  max-width: 100%;
  height: auto;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  list-style: none;
  padding: 0;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--highlight-color); /* Cambia il colore al passaggio del mouse */
}

/* Footer Info */
.footer-info {
  font-size: 0.9rem;
}

.footer-info p {
  margin: 0;
}