
/** --- HEADING SESSION --- */
@media (max-width: 992px) {
  header.hero {
    /* Impostazioni generali per l'immagine di sfondo */
    background-image: url('/public/images/home-images/header/cascina-caccia-756px.webp');
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  header.hero {
    margin-top: 110px;
    /* Impostazioni generali per l'immagine di sfondo */
    background-image: url('/public/images/home-images/header/cascina-caccia-992px.webp');
  }
}

@media  (min-width: 1400px) {
  header.hero {
    /* Impostazioni generali per l'immagine di sfondo */
    background-image: url('/public/images/home-images/header/cascina-caccia-1400px.webp');
    margin-top: 90px;
  }
}

header.hero {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

header.hero p{
  font-size: 1.5rem;
  color: var(--primary-color);
}

header.hero .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.hero .img-container img {
  opacity: 0; /* Stato iniziale */
  animation: fadeIn 1.5s ease-in-out forwards; /* Durata e tipo di animazione */
  max-width: 260px;
  height: auto;
}


header.hero .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height:fit-content;
  max-width: 900px;
  margin: 0 auto;
}

header.hero h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);  
  width: fit-content;
  color: var(--primary-color);  
}
@media (min-width: 992px) {
  h1 strong {
    white-space: nowrap;
  }
}

header.hero hr {
  border: none; /* Rimuove il bordo predefinito */
  height: 7px; /* Altezza della linea */
  width: 100%;
  background: linear-gradient(
  to right,
  var(--orange-color-logo) 0%,
  var(--orange-color-logo) 33.33%,
  var(--magenta-color-logo) 33.33%,
  var(--magenta-color-logo) 66.66%,
  var(--yellow-color-logo) 66.66%,
  var(--yellow-color-logo) 100%
  );
  margin: 0px 0px 25 px 0px;
}

header .title{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 35px;
}

header a.button {
  color: var(--primary-color);
  display: block; /* Rende il bottone un elemento blocco */
  background-image: url('/public/images/button-background/button-background.png'); /* Percorso immagine */
  background-size: contain; /* Adatta immagine senza tagliarla */
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  text-align: center;
  margin-top: 60px;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

header .black-blur a:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  header.hero .header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;
    width: 90%;
    height:fit-content;
    max-width: 900px;
    margin: 0 auto;
  }
  
  header .img-container img{
    display: none;
  }
}

.page{
  background-color: var(--primary-color);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.introduction-to-cascina-caccia{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

section.introduction-to-cascina-caccia h2{
  font-size: 2.5rem;
}

div.back-ground-list-pillars{
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 199%;
  height: fit-content;
}

section.list-pillars{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: fit-content;
  color: var(--primary-color);
}

section.list-pillars h2{
  font-size: 2.5rem;
  padding: 0px 20px;
  width: fit-content;
}

section.list-pillars div.pillars-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  max-width: 100%;
  height: fit-content;
}

section.list-pillars div.pillars-container article{
  padding: 30px 40px;
  width: 90%;
  max-width: 400px;
  height: fit-content;
  transition: scale 0.3s ease;
}

section.list-pillars div.pillars-container article:hover{
  scale: 1.3;
}

section.list-pillars div.pillars-container article h3{
  text-wrap: nowrap;
  font-size: 2rem;
  width: fit-content;
}

section.list-pillars div.pillars-container article p{
  font-size: 1.2rem;
}


@media (max-width: 992px) {
  section.list-pillars div.pillars-container{
    flex-direction: column;
  }
}

section.text-only-article-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

section.text-only-article-section p,section.text-only-article-section header{
  width: 90%;
  margin: 0 auto;
}

section.text-only-article-section article header h2{
  font-size: 2.5rem;
  width: fit-content;
}

div.scroll-img{
  width: 100%;
  height: 20vh;
  opacity: 0;
}

.scroll-img {
  width: 100%; /* Occupa tutta la larghezza */
  height: 300px; /* Occupa tutta l'altezza della vista */
  background-image: url('/public/images/home-images/header/cascina-caccia-1400px.webp');
  background-size: cover; /* Adatta l'immagine senza distorcerla */
  background-position: center; /* Centra l'immagine */
  border-radius: 0;
}

@media (min-width: 992px) {
  .scroll-img {
    background-attachment: fixed; /* Solo per schermi più grandi */
  }
}

@media (max-width: 991px) {
  .scroll-img {
    background-attachment: scroll; /* Fallback su mobile */
    background-size: cover; /* Assicura l'adattamento */
    background-position: center;
  }
}

.scroll-img img {
  object-fit: cover; /* Adatta l'immagine mantenendo le proporzioni */
  width: 100%;
  height: 100%;
  opacity: 0;
}

section.colors-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

section.colors-section .header{
  width: 100%;
  background-color: #D9D9D9;
  font-size: 2.6rem;
  width: 100%;
  padding: 15px;
}

section.colors-section .header p{
  font-weight: 900;
}

section.colors-section h2, section.colors-section p{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

section.colors-section .colors-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}



section.colors-section .colors-container h2{
  font-size: 2.5rem;
  padding: 20px;
}

section.colors-section .colors-container p{
  font-size: 1.1rem;
  padding: 20px 20px 80px 20px;
}

section.colors-section .colors-container article{
  width: 100%;
  color: var(--secondary-color);
}

section.colors-section .colors-container .yellow{
  background-color: var(--yellow-color-logo-light);
}

section.colors-section .colors-container .orange{
  background-color: var(--orange-color-logo-light);
}

section.colors-section .colors-container .magenta{
  background-color: var(--magenta-color-logo-light);
}

@media (min-width: 992px) {
  section.colors-section .colors-container{
    flex-direction: row;
    height: 700px;
  }
  
  section.colors-section .colors-container article{
    width: 33.33%;
    height: 100%;
  }
}

@media (min-width: 1400px) {
  section.colors-section .colors-container{
    flex-direction: row;
    height: 500px;
  }
  
  section.colors-section .colors-container article{
    width: 33.33%;
    height: 100%;
  }
}

.img-section {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}

.img-section::-webkit-scrollbar {
  display: none;
}

.img-section figure.img-container  {
  flex: 0 0 auto;
  width: 100%;
}

.img-container.carousel-image {
  flex-shrink: 0;
}



article p{
  font-size: 1.2rem;
}

strong{
  font-weight: bold;
}

article p{
  padding: 20px 0px;
}

section.dark-style{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

section.light-style{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}