@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');



/*! GLOBAL SETTINGS FOR ALL THE PAGES (font-size adjusted whit REM) and responsive root font-size */

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: var(--font-text);
    color: var(--black-text-color);
}

/* @media (max-width: 768px) {
    html {
        font-size: 14px;
    }
} */

main {
    margin-left: 47px;
    min-height: 100vh;
    background-color: aqua;
    padding: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* -------------------------------------------------------- */


:root {
    /* colors backgrounds */
    --primary-color: #F4F4F9;
    --secondary-color: #EBEBEB;
    --third-color: #cdcccc;
    --fourth-color: #454545;
    --background-color-nav: #2A2A2A;

    /* colors texts */
    --dark-text-color: #242424;
    --white-text-color: #FFFFFF;

    /* fonts (titles && texts) */
    --font-title: 'Inria Sans', serif;
    --font-text: 'Roboto', sans-serif;
}