<div class="slider-wrapper">
    <ul class="carousel">
      <li class="link-image" id="slide-1">
        <a href="#">
          Scopri i Laboratori
        </a>
        <div class="blur"></div>
        <img src="https://picsum.photos/300/200" alt="immagine che rappresente uno dei laboratori">
      </li>
      <li class="link-image" id="slide-2">
        <a href="#">
          Scopri gli eventi
        </a>
        <div class="blur"></div>
        <img src="https://picsum.photos/300/200" alt="immagine che rappresenta uno degli eventi">
      </li>
      <li class="link-image" id="slide-3">
        <a href="#">
          Contattaci!
        </a>
        <div class="blur"></div>
        <img src="https://picsum.photos/300/200" alt="se clicchi su questa immagine puoi">
      </li>
    </ul>

    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
    </div>
  </div>