.step.future {
    background-color: var(--color-input); /* Futuro */
}

input.invalid, select.invalid, textarea.invalid {
    background-color: #ff9393;
    color: #ffffff;
}

input.invalid:focus, select.invalid:focus, textarea.invalid:focus {
    outline: none;
    border-color: #5d0000;
}