/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements.
 *
 */


.dialogQuestion {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 75vh;
    background-color: whitesmoke;
    padding: 0 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/*01. dialog question section header (name and surname + email + date) */
.dialogQuestion .dialogHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.dialogQuestion .dialogHeader h2.name {
    font-size: 1.6rem;
    font-family: var(--font-title);
    font-weight: 700;
}

.dialogQuestion .dialogHeader .info {
    margin-bottom: 20px;
}

.dialogQuestion .dialogHeader p.email,
.dialogQuestion .dialogHeader p.phone {
    font-size: 0.85rem;
    padding-top: 5px;
}

.dialogQuestion .dialogHeader p.dateSend {
    font-size: 0.8rem;
}


/*02. dialog question section body, will contain the content of the question request */
.dialogQuestion .dialogBody {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dialogQuestion .dialogBody h2 {
    font-size: 1.1rem;
    font-family: var(--font-title);
    font-weight: 600;
    margin-bottom: 10px;
}

.dialogQuestion .dialogBody p.request {
    font-size: 0.75rem;
    height: 230px;
    overflow-y: scroll;
    line-height: 1.5;
}


/*03. dialog footer whit the icons for the fast action on the quesion (delete + archite) and 
the response trough email to the customers */

.dialogQuestion .dialogFooter {
    display: flex;
    justify-content: space-between;
}

.dialogQuestion .dialogFooter .dialogActions {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 25px;
    cursor: pointer;
}

/* button for replay whit email */
.dialogQuestion .dialogFooter .dialogResponse a {
    background-color: var(--background-fourth);
    color: var(--white-text-color);
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}