.dialogQuestion {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 80vh;
    background-color: whitesmoke;
    padding: 0 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/**01. dialog question section header (name and surname + email + date) */
.dialogHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.dialogHeader h2.dialogName {
    font-size: 1.6rem;
    font-family: var(--font-title);
    font-weight: 700;
}

.dialogHeader p.dialogEmail {
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.dialogHeader p.dialogDate {
    font-size: 0.8rem;
}

.dialogQuestion .dialogBody hr {
    color: var(--background-fourth);
}


/**02. dialog question section body, will contain the content of the question request */
/* .dialogQuestion .dialogBody {} */

.dialogQuestion .dialogBody h2 {
    font-size: 1.2rem;
    font-family: var(--font-title);
    font-weight: 600;
    margin-bottom: 10px;
}

.dialogQuestion .dialogBody p.dialogRequest {
    font-size: 0.8rem;
    line-height: 1.2;
}


/**03. dialog footer whit the icons for the fast action on the quesion (delete + archite) and 
** the response trough email to the customers */
.dialogQuestion .dialogFooter {
    display: flex;
    justify-content: space-between;
}

.dialogQuestion .dialogFooter .dialogActions {
    display: flex;
    font-size: 1.7rem;
    gap: 25px;
}

.dialogQuestion .dialogFooter .dialogResponse {
    display: flex;
    align-items: center;
    background-color: var(--background-fourth);
    border: 2px solid var(--background-fourth);
    border-radius: 10px;
}

.dialogQuestion .dialogFooter .dialogResponse a {
    text-decoration: none;
    color: var(--white-text-color);
    padding: 10px 30px;
}